.btn {
  text-decoration: none;
  color: black;
  background-color: orange;
  padding: 10px;
  border-radius: 0.5rem;
}

.btn_back {
  display: inline-block;
  margin-top: 10px;
}

.btn:hover {
  opacity: 0.5;
}

.btn_user {
  display: inline-block;
  margin-top: 10px;
}